*
{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
head
{
    background-color: #f2f2f2;
}
#space
{
    height: 20%;
    padding: 10%;
}
#karriarer
{
    padding: 40px;
    text-align: center;
    background: #f2f2f2;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 600px){
    .column{
        width: 100%;
    }
}
.karriarer_img
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.column
{
    float: left;
    width: 25%;
    
}
.row::after
{
    content: "";
    display: table;
    clear: both;
}
.infobox
{
    padding: 10px;
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background: #f2f2f2;
    color: darkblue;
    
    font-size: 20px;
    border-radius: 5px;
}
#IT-sak
{
    background-image: url("../img/PG22_code.jpg");
}
body {
  
    background-image: url("../img/PG22_code.jpg");
    
    position: relative;
    margin: 0px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    
    
    }
    .header 
    {
        width: 100%;
        height: 130px;
       
        
        margin-top: -3%;
        text-align: center;
        background: #f2f2f2;
        
    }
    .subheader 
    {
        width: 100%;
        height: 90px;
       
        
        margin-top: -3%;
        text-align: center;
        background: #f2f2f2;
        
    }
    .rubrik
    {
        color: darkblue;
        font-size: 25px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0.5%;
        
    }
    .Btns
    {
        width: 10%;
        min-width: 110px;
        margin: 0% 85%;
        margin-top: -145px;
    }
    input[type=submit] 
    {
        width: 120px;
        height: 40px;
        background-color: darkblue;
        color: white;
        text-align: center;
        padding: 4px 0px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    
    input[type=submit]:hover 
    {
        background-color: blue;
    }
    
        p {
            padding: 10px;
            text-align: center;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            color: darkgreen;
            font-size: 20px;
            border-radius: 5px;     
        }
        div.karriär_knapp {
            margin-top: 100px; 
            padding: 10px;
            padding-top: 200px;
            padding-left: 1200px;
            text-align: right;
            width: 15%;
        }
        a {
        text-align: right;
        }
        div.log_out_knapp
        {
            text-align: center;
            margin-top: 10px; 
            padding: 10px;
            padding-top: 50px;
            text-align: right;
            width: 15%;
        }
        div.Kategori_knapp
        {
            color: darkgreen;
            font-size: 20px;
            border-radius: 5px;    
        }
        button
        {
            color: darkgreen;
            font-size: 20px;
            border-radius: 5px; 
        }
         /* g{
          background-image: url("../img/Kompass.jpg");
            position: absolute;
            margin-top: 10px;
            width:  15%;
            top: 500px;
            left: 300px;
            z-index: 2; 
        }*/
#IT-sak
{
    background-image: url("../img/PG22_Security.jpg");
}
#Projektutveckling
{
    background-image: url("../img/PG22_group.jpg");
}
#Mjukvaruutveckling
{
    background-image: url("../img/PG22_test.jpg");
}
#IT-testning
{
    background-image: url("../img/PG22_dev.jpg.jpg");
}