body {
  
    background-image: url("../img/PG_22_Header.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Helvetica, Arial, sans-serif;
    
    }
    .header {
        padding: 10px;
        text-align: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        background: #f2f2f2;
        color: darkgreen;
        font-size: 30px;
        border-radius: 5px;
        }