*
{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h2
{
    text-align: center;
}
head
{
    background-color: #f2f2f2;
}
#space
{
    height: 20%;
    padding: 10%;
}
.karriarer
{
    padding: 40px;
    text-align: center;
    background: #f2f2f2;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 600px){
    .column{
        width: 100%;
    }
}
.karriarer_img
{
    height: 150px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.column
{
    float: left;
    width: 24%;
    margin: 0.5%;
}
.row::after
{
    content: "";
    display: table;
    clear: both;
}
.Fullbox
{
    text-align: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    background: #f2f2f2;
    color: darkblue;
    font-size: 20px;
    border-radius: 5px;
}
.Fullbox2
{
    text-align: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    background: #f2f2f2;
    color: darkblue;
    font-size: 20px;
    border-radius: 5px;
}
.infobox
{
    padding: 10px;
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    float: center;
    background: #f2f2f2;
    color: darkblue;
    font-size: 20px;
    border-radius: 5px;
}
.infobox2
{
    padding: 10px;
    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    float: center;
    background: #f2f2f2;
    color: darkblue;
    font-size: 20px;
    border-radius: 5px;
    height: 200px;
}
.Katinfobox
{
    padding: 10px;
    text-align: center;
    width: 56%;
    margin: 1% 2%;
    float: left;
    background: #f2f2f2;
    color: darkblue;
    font-size: 20px;
    border-radius: 5px;
    background-image: none;
}
.annonsbox
{
    padding: 10px;
    text-align: center;
    width: 36%;
    float: right;
    margin: 1% 2%;
    background: #f2f2f2;
    color: darkblue;
    font-size: 12px;
    border-radius: 5px;
    text-decoration: none;
}
.FiftypBox
{
    box-sizing: border-box;
}
.Box
{
    float: left;
    width: 60%;
    padding: 50px;
}
body {
    background-image: url("../img/PG22_code.jpg");
    position: static;
    margin: 0px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    min-width: 1250px;
}
.header 
{
    text-align: center;
    background: #f2f2f2; 
}
.subheader 
{
    width: 100%;
    height: 90px;
    margin-top: -3%;
    text-align: center;
    background: #f2f2f2;
    
}
.rubrik
{
    color: darkblue;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5%;
    margin-top: 10px;
}
.BtnsRight
{
    width: 10%;
    min-width: 110px;
    margin: 0% 87%;
    margin-top: -145px;
}
.BtnsLeft
{
    width: 10%;
    min-width: 110px;
    margin: 0% 5%;
    margin-top: -125px;
}
.WideBtns
{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 4px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.ValkommenMed
{
    height: 200px;
    margin-top: 0px;
}
.ValkommenMed2
{
    height: 100px;
    margin-top: 0px;
}
.ValkommenMed2
{
    height: 300px;
    margin-top: 0px;
}
.TwoBtns
{
    min-width: 970px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}
#FirOfTwoBtns
{
    margin-left: auto;
    margin-right: auto;
    width: 48%;
    float: left;
}
#SecOfTwoBtns
{
    margin-left: auto;
    margin-right: auto;
    width: 48%;
    float: right;
}
input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 10px 10%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: 10px;
}
input[type=password], select {
    width: 50%;
    padding: 12px 20px;
    margin: 10px 10%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: 10px;
}
.textarea1
{
    width: 80%;
    padding: 12px 20px;
    margin: 10px 10%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: 10px;
}
input[type=submit] 
{
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 4px 0px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

input[type=submit]:hover 
{
    background-color: blue;
}
p 
{
    padding: 10px;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: darkblue;
    font-size: 20px;
    border-radius: 5px;     
}
#karriar_knapp {
    float: left;
    text-align:center;
    margin: 15px;
    margin-left: 35px;
}
#kategori_knapp {
    float: right;
    text-align:center;
    margin: 15px;
    margin-right: 35px;
}
#forum_knapp {
    float: left;
    text-align: center;
    margin: 15px;
    margin-left: 56px;
}
div.log_out_knapp
{
    text-align: center;
    margin-top: 10px; 
    padding: 10px;
    padding-top: 50px;
    text-align: right;
    width: 15%;
}

.VanligBtns
{
    width: 120px;
    height: 40px;
}
#Valkommentext
{
    margin-top: 0px;
}
.button
{
    width: 120px;
    height: 40px;
    background-color: darkblue;
    color: white;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    padding: 10px 4px 0px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
button
{
    width: 120px;
    height: 40px;
    background-color: darkblue;
    color: white;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    padding: 4px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#IT-sak
{
    background-image: url("../img/PG22_Security.jpg");
    background-size: 100%;
}
#Projektutveckling
{
    background-image: url("../img/PG22_group.jpg");
    background-size: 100%;
    background-position-y: center;
}
#Mjukvaruutveckling
{
    background-image: url("../img/PG22_test.jpg");
    background-size: 100%;
}
#IT-testning
{
    background-image: url("../img/PG22_dev.jpg");
    background-size: 110%;
}
#Logga
{
    background-image: url("../img/PG22_Logga.png");
    background-position: 50% 28%;
    background-size: 1000px 800px;
    background-repeat: no-repeat;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border: 2px blue;
    min-height: 200px;
}
#Logga:hover
{
    background-image: url("../img/PG22_Logga_hov.png");
    background-position: 50% 28%;
    background-size: 1000px 800px;
    background-repeat: no-repeat;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
}
#loggastrl
{
    height: 100px;
}
.ForumWindow
{
  padding: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: #f2f2f2;
  border-radius: 5px;
}
.ForumWindow2
{
  padding: 10px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background: #f2f2f2;
  border-radius: 5px;
}
.ForumUserInfo
{
  color: black;
  font-size: 15px;
  margin: 8%;
  vertical-align: middle;
  display: inline-block;
}
.ForumUserInfo2
{
  color: black;
  font-size: 15px;
  margin: 8%;
  vertical-align: middle;
  display: inline-block;
}
#ForumUserInfoBox > div
{
  width: 120px;
  min-height: 100px;
  margin: 8px;
  vertical-align: middle;
  display: inline-block;
}
.ForumUserMessage
{
  color: black;
  font-size: 20px;
  padding: 20px;
  margin: 5px;
  min-height: 90px;
  display: inline-block;
  vertical-align: middle;
}
#ForumMessageBox
{
  min-height: 100px;
  width: 260px;
  border-left: 3px solid darkblue;
  display: inline-block;
  vertical-align: middle;
}
#ForumDisplay > div
{
  display: inline-block;
  vertical-align: middle;
}
#forumpost{
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
#mapid{
height: 500px;
width: 900px;
margin-left: auto;
margin-right: auto;
}